<nav class="navbar" style="justify-content: center;">
    <input class="form-control" type="text" name="watchname" [(ngModel)]="watchname" (ngModelChange)="onSearch()"
    placeholder="Enter Smart-Watch name to search" style="width: 50%;">
</nav>


<div class="row"> 
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let watches of watchList"> 
        <mat-card>
                <mat-card-title>Smart-Watch Name: {{watches.watchname}}</mat-card-title>
                <img class="card-img-top" mat-card-image src="{{watches.image}}" alt="{{watches.watchname}}">
                <mat-card-subtitle>Features: {{watches.features}}</mat-card-subtitle>
                <mat-card-content>Price: {{watches.price}}</mat-card-content>
                <mat-card-content>Rating: {{watches.rating}} Stars</mat-card-content>
                
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="addToCart(watches.watchname,watches.price)">Add To Cart</button>
                    <button mat-raised-button color="accent" >Buy</button>
                </mat-card-actions>
        </mat-card>
    </div>
</div>

