<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#" >E-Commerce</a>
  
    <!-- Links -->
    <ul class="navbar-nav" id="social_icons">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="font-size: large;" >Home<img src="/assets/home-24px.svg" style="float:left;"></a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="font-size: large;" >Login<img src="/assets/person-circle.svg"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="font-size: large;">Admin<img src="/assets/adminicon.svg"></a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-size: large;">
          Gadgets Category
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="mobiles" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mobiles</a>
          <a class="dropdown-item" routerLink="smartwatches" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Smart Watches</a>
          <a class="dropdown-item" routerLink="laptops" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Laptops</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item" >
        <a class="nav-link"  routerLink="cartedlist" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
        style="font-size: large;">Add To Cart <img src="/assets/cart3.svg"></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
        style="font-size: large;">LogOut <img src="/assets/box-arrow-right.svg"></a>
      </li>
      </ul>

  </nav>
<router-outlet></router-outlet>