<h1 class="font-weight-bold" style="color: aliceblue;font-size: x-large;text-align: center;font-family: Georgia;padding-top: 2%;">
    Welcome To Gadgets Online Shopping Application</h1>
    <br>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1" ></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a routerLink="/mobiles">
            <img src="/assets/mobile.jpg" class="d-block mx-auto" alt="Mobiles" width="300px" height="100px" >
            </a>
          </div>
          <div class="carousel-item">
            <a routerLink="/smartwatches">
            <img src="/assets/smartwatch.jpg" class="d-block mx-auto" alt="Watches" width="300px" height="100px">
            </a>
          </div>
          <div class="carousel-item">
            <a routerLink="/laptops">
            <img src="/assets/maclap1.jpg" class="d-block mx-auto" alt="Laptops" width="300px" height="100px">
            </a>
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      
