<nav class="navbar" style="justify-content: center;">
    <input class="form-control" type="text" name="name" [(ngModel)]="lapname" (ngModelChange)="onSearch()"
    placeholder="Enter Laptop name to search" style="width: 50%;">
</nav> 


<div class="row"> 
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let lap of laptopList"> 
        <mat-card>
                <mat-card-title>Laptop Name: {{lap.lapname}}</mat-card-title>
                <img class="card-img-top" mat-card-image src="{{lap.image}}" alt="{{lap.lapname}}">
                <mat-card-subtitle>Laptop Specifications: {{lap.specifications}}</mat-card-subtitle>
                <mat-card-content>Processor: {{lap.processor}}</mat-card-content>
                <mat-card-content>Price: {{lap.price}}</mat-card-content>
                <mat-card-content>Rating: {{lap.rating}} Stars</mat-card-content>
                
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="addToCart(lap.lapname,lap.price)">Add To Cart</button>
                    <button mat-raised-button color="accent" >Buy</button>
                </mat-card-actions>
        </mat-card>
    </div>
</div>

